#loadingScreen {
  position: absolute;
  top:0px;
  left:0px;
  width: 100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: url('banner11.jpg');
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 123, 255, 0.5);
  z-index: 10000;
}

#playButton {
  padding: 18px 38px;
  font-size: 25px;
  background: rgb(0,123,255);
  color: rgb(255,255,255);
  border-width: 0px;
  cursor:pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 15px;
}

#playButton:hover {
  background: rgb(0,86,179);
}

#sceneContainer {
  display: block;
  opacity: 0;
  visibility: hidden;
}

.fadeOut {
  animation: fadeOutAnim 0.8s ease-out forwards;
}

@keyframes fadeOutAnim {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}
